/* flex container */
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1050px;
  width: 100%;
}
/* flexbox-item */
.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid #e1e1e6;
  background: hsl(202, 30%, 32%);
}
/* flexbox-item-1 */
.flexbox-item-1 {
  min-height: 100px;
  padding: 10px;
  /* pirmary priority */
  position: relative;
  z-index: 100;
}
/* flexbox-item-2 */
.flexbox-item-2 {
  min-height: 200px;
  padding: 10px;
  /* secondary priority*/
  position: relative;
  z-index: 50;
}
/* flexbox-item-3 */
.flexbox-item-3 {
  min-height: 15rem;
  padding: 10px;
  /* least priority*/
  position: relative;
  z-index: 1;
}
@media only screen and (max-device-width: 1049px) {
  .banner {
    /* banner will only show on desktop mode */
    display: none;
    max-width: 1050px;
    width: 100%;
    padding-bottom: 30px;
    z-index: 1000;
  }
}
body {
  padding: 2rem;
  
  background: hsl(198 17% 10%);
  
  color: hsl(27 98% 95%);
}

/* flex */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  
  > div {
    flex: 1 1 20rem;
    
    padding: 2rem;
    
    background: hsl(202, 30%, 32%);
    border-radius: 2rem;
    
    &:first-child {
      flex-basis: 100%;
    }
    
    *:last-child {
      margin-bottom: 0;
    }
  }
  
  h1, h2 {
    margin-top: 0;
    
    color: hsl(352 77% 60%);
  }
}