/* flex container */
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1050px;
  width: 100%;
}
/* flexbox-item */
.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}
/* flexbox-item-1 */
.flexbox-item-1 {
  min-height: 100px;
  color: firebrick;
  /* pirmary priority */
  position: relative;
  z-index: 100;
}
/* flexbox-item-2 */
.flexbox-item-2 {
  min-height: 200px;
  color: black;
  /* secondary priority*/
  position: relative;
  z-index: 50;
}
/* flexbox-item-3 */
.flexbox-item-3 {
  min-height: 15rem;
  color: blue;
  /* least priority*/
  position: relative;
  z-index: 1;
}
@media only screen and (max-device-width: 1050px) {
  .banner {
    /* banner will only show on desktop mode */
    display: none;
    max-width: 1050px;
    width: 100%;
    padding-bottom: 30px;
    z-index: 1000;
  }
}
